// 混合
@import "mixins/prefix.less";
@import "mixins/common.less";

/************************** 通用动画相关 **************************/
.fade-enter-active {
    .prefix-animation( fade-show .3s linear );
}
.fade-leave-active {
    .prefix-animation( fade-hide .3s linear );
}
.prefix-keyframes(fade-show, {
    0% { opacity: 0; }
    100% { opacity: 1; }
});
.prefix-keyframes(fade-hide, {
    0% { opacity: 1; }
    100% { opacity: 0; }
});


.scale-enter-active {
    .prefix-animation( scale-show .3s ease-in );
}
.scale-leave-active {
    .prefix-animation( scale-hide .3s ease-out );
}
.prefix-keyframes(scale-show, {
    0% {
        opacity: 0;
        .prefix-transform( scale(0, 0) );
    }
    100% {
        opacity: 1;
        .prefix-transform( scale(1, 1) );
    }
});
.prefix-keyframes(scale-hide, {
    0% {
        opacity: 1;
        .prefix-transform( scale(1, 1) );
    }
    100% {
        opacity: 0;
        .prefix-transform( scale(0, 0) );
    }
});

.navs-enter-active {
    .prefix-transformorigin( left );
    .prefix-animation( navs-show .3s ease-out );
}
.navs-leave-active {
    position: absolute !important;
    .prefix-transformorigin( left );
    .prefix-animation( navs-hide .3s ease-out );
}
.prefix-keyframes(navs-show, {
    0% {
        opacity: 0;
        // .prefix-transform( scale(0, 1) );
        .prefix-transform( translateX(-20px) );
    }
    100% {
        opacity: 1;
        // .prefix-transform( scale(1, 1) );
        .prefix-transform( translateX(0) );
    }
});
.prefix-keyframes(navs-hide, {
    0% {
        opacity: 1;
        // .prefix-transform( scale(1, 1) );
        .prefix-transform( translateX(0) );
    }
    100% {
        opacity: 0;
        // .prefix-transform( scale(0, 1) );
        .prefix-transform( translateX(-20px) );
    }
});


.slide-enter-active {
    .prefix-transformorigin( left top );
    .prefix-animation( slide-down .15s linear );
}
.slide-leave-active {
    .prefix-transformorigin( left top );
    .prefix-animation( slide-up .15s linear );
}
.prefix-keyframes(slide-down, {
    0% {
        .prefix-transform( scale(1, 0) );
    }
    100% {
        .prefix-transform( scale(1, 1) );
    }
});
.prefix-keyframes(slide-up, {
    0% {
        .prefix-transform( scale(1, 1) );
    }
    100% {
        .prefix-transform( scale(1, 0) );
    }
});


.imodal-transition {}
.imodal-enter {
    .prefix-animation( margin-in .3s ease-out );
}
.imodal-leave {
    .prefix-animation( margin-out .3s ease-out );
}
.prefix-keyframes(margin-in, {
    0% { margin-top: -1000px; }
    100% { margin-top: 0; }
});
.prefix-keyframes(margin-out, {
    0% { margin-top: 0; }
    100% { margin-top: -1000px; }
});


.floatpad-transition {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}
.floatpad-enter {
    .prefix-animation( right-in .3s ease-out );
}
.floatpad-leave {
    .prefix-animation( right-out .3s ease-in );
}
.prefix-keyframes(right-in, {
    0% { margin-right: -1000px; }
    100% { margin-right: 0; }
});
.prefix-keyframes(right-out, {
    0% { margin-right: 0; }
    100% { margin-right: -1000px; }
});


/************************* placeholder ************************/
.prefix-placeholder(#aaa);
input,
textarea {
    .prefix-placeholder(#aaa);
}



/************************** XScroll **************************/
.xscroll {
    position: relative;
    overflow: hidden;
    .xscroll-wrapper {
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        margin-right: 8px;
        margin-bottom: 8px;
        overflow: hidden;
    }
    .xscroll-bar {
        position: absolute;
        z-index: 1;
        background-color: rgba(220, 220, 220, 1);
        .prefix-user-select();
        .prefix-transition(background-color linear .15s);
        .xscroll-block {
            position: absolute;
            top: 0px;
            left: 0px;
            cursor: pointer;
            background-color: rgba(120, 120, 120, 1);
            .prefix-transition(background-color linear .15s);
        }
        &.xscroll-x {
            bottom: 0px;
            left: 0px;
            right: 0px;
            height: 8px;
            .xscroll-block {
                left: 0px;
                top: 0px;
                height: 8px;
            }
        }
        &.xscroll-y {
            top: 0px;
            bottom: 0px;
            right: 0px;
            width: 8px;
            .xscroll-block {
                top: 0px;
                left: 0px;
                width: 8px;
            }
        }
        &.active {
            background-color: rgba(220, 220, 220, 1);
            .xscroll-block {
                background-color: rgba(60, 60, 60, 1);
            }
        }
    }
}
/************************/
.xscroll-default {
     padding:10px 15px 15px 10px;
    .xscroll-wrapper {
        margin: 0;
    }
    .xscroll-bar {
        background-color: inherit;
        .prefix-border-radius(.5em);
        .xscroll-block {
            .prefix-border-radius(.5em);
        }
        &.xscroll-x {
            bottom: 4px;
            height: 6px;
            .xscroll-block {
                height: 6px;
            }
        }
        &.xscroll-y {
            right: 4px;
            width: 6px;
            .xscroll-block {
                width: 6px;
            }
        }
    }
}



/************************** 通用 **************************/
.wrapper {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}
.wrapper-scroll {
    overflow-y: auto;
}

