<!DOCTYPE html>
<html>
	<head>
		<title><%=title%></title>
		<link rel="stylesheet" href="/css/style.css"/>
	</head>
	
	<body>
		<!-- Vuejs 路由匹配到的组件将渲染在这里 -->
		<div class="vueapp">
			<router-view></router-view>
		</div>
	</body>
	
	<script type="text/javascript" src="/js/web/main.js"></script>
</html>
