<!DOCTYPE html>
<html>
	<head>
		<title><%=title%></title>
		<!-- <link rel="stylesheet" href="/css/style.css"/> -->
	</head>

	<body>
		<div id="v-app" class="v-app" :class="{small: showleftbar_small}">
			<topbar></topbar>
			<router-view></router-view>
			<leftbar :show="showleftbar"></leftbar>
			<leftbar class="small" :show="showleftbar_small"></leftbar>
		</div>
	</body>

	<script type="text/javascript" src="/vue/web/main.build.js"></script>
</html>
