<!DOCTYPE html>
<% var hwppejs = htmlWebpackPlugin.options.ejs %>
<html>
    <head>
        <title><%=hwppejs.title%></title>
        <link rel="stylesheet" href="/public/css/iconfont.css"/>
        <!-- <link rel="stylesheet" href="/public/css/style.css"/> -->
    </head>
    <body>
        <div id="vueapp" class="vueapp" :class="{small: leftbarsmall.show}">
            <div class="adminpage wrapper">
                <div class="topnavs">
                    <!-- welcome to you! {{mode}} - qqq23324112222 - {{showdetail}} 544 {{userid4modal}} -->
                    <a class="nav home" @click="switchnav('HOME')">
                        <i class="iconfont icon-home"></i>
                    </a>
                    <template v-for="(item,idx) in navlist">
                        <a class="nav" :class="{active: currentnav===item.name}" @click="switchnav(item)">{{item.name}}</a>
                    </template>
                </div>
                <div></div>
                <div class="content">
                    <router-view></router-view>
                </div>
            </div>

            <transition name="leftbar">
                <div class="leftbar" v-show="leftbar.show">
                    <c-leftpad></c-leftpad>
                </div>
            </transition>
            <transition name="leftbarsmall">
                <div class="leftbar small" v-show="leftbarsmall.show" >
                    <c-leftpadsmall></c-leftpadsmall>
                </div>
            </transition>
            <!-- <transition name="slide">
                <c-topbar :show="topbar.show"></c-topbar>
            </transition>
            <transition name="leftbar">
                <c-leftbar :show="leftbar.show"></c-leftbar>
            </transition>
            <transition name="leftbarsmall">
                <c-leftbar :show="leftbarsmall.show" class="small"></c-leftbar>
            </transition> -->
        </div>
    </body>
</html>
