<!DOCTYPE html>
<% var hwppejs = htmlWebpackPlugin.options.ejs %>
<html>
    <head>
        <title><%=hwppejs.title%></title>
        <link rel="stylesheet" href="/public/css/prime/prime.min.css"/>
        <!-- <link rel="stylesheet" href="/public/css/iconfont.css"/> -->
        <!-- <link rel="stylesheet" href="/public/css/style.css"/> -->
    </head>
    <body>
        <div id="vueapp" class="vueapp" :class="appclasses()" :style="appstyles()">
            <div class="adminpage wrapper">
                <div class="topbar">
                    <div class="topbar-left">
                        <c-navsbar
                        v-model="navs.current"
                        :list="navs.list"
                        @on-switch="navswitch"></c-navsbar>
                    </div>
                    <div class="topbar-right">
                        <c-searchbar
                        v-model="search.key"
                        @on-search="searchhandle"></c-searchbar>

                        <c-icons-docker
                        :list="dockerlist"
                        @on-hover="dockerhover"
                        @on-click="dockerclick"></c-icons-docker>
                    </div>
                </div>
                <div class="content">
                    <transition name="fade">
                        <router-view></router-view>
                    </transition>
                </div>
            </div>

            <transition name="leftpad">
                <div class="layout-left" v-show="leftpad.show">
                    <c-leftpad></c-leftpad>
                </div>
            </transition>
            <transition name="leftpadsmall">
                <div class="layout-left small" v-show="leftpadsmall.show" >
                    <c-leftpadsmall></c-leftpadsmall>
                </div>
            </transition>

            <transition name="rightpad">
                <div class="layout-right" v-show="rightpad.show" >
                    <c-rightpad></c-rightpad>
                </div>
            </transition>
        </div>
    </body>
</html>
