<!DOCTYPE html>
<% var hwppejs = htmlWebpackPlugin.options.ejs %>
<html>
    <head>
        <title><%=hwppejs.title%></title>
        <link rel="stylesheet" href="/public/css/prime/prime.min.css"/>
        <!-- <link rel="stylesheet" href="/public/css/iconfont.css"/> -->
        <!-- <link rel="stylesheet" href="/public/css/style.css"/> -->
    </head>
    <body>
        <div id="vueapp" class="vueapp" :class="{small: leftbarsmall.show}">
            <router-view></router-view>

            <transition name="leftbar">
                <div class="leftbar" v-show="leftbar.show">
                    <c-leftpad></c-leftpad>
                </div>
            </transition>
            <transition name="leftbarsmall">
                <div class="leftbar small" v-show="leftbarsmall.show" >
                    <c-leftpadsmall></c-leftpadsmall>
                </div>
            </transition>
            <!-- <transition name="slide">
                <c-topbar :show="topbar.show"></c-topbar>
            </transition>
            <transition name="leftbar">
                <c-leftbar :show="leftbar.show"></c-leftbar>
            </transition>
            <transition name="leftbarsmall">
                <c-leftbar :show="leftbarsmall.show" class="small"></c-leftbar>
            </transition> -->
        </div>
    </body>
</html>
